{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    .cont{
       
        padding: 2%;
        padding-left:10%;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Tenant/Visitor Systems</h3>
                </div>

            </div>
        </div>
    </div>
</header>

<div class="cont">
    
    <h1>Welcome to the Design Hub tenant tracking web application <h1>
    
</div>
{%endblock%}