{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
          text-transform: capitalize;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .cont {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 2%;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Tenant/Visitor Systems</h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class='cont'>
    <a style='cursor:pointer' href="{% url 'get_visitors'%}"> Cancel</a>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update">
    </form>

</div>
{%endblock%}